/**
 * UNIFI Website
 * Sample Template CSS
 * Adam Shannon
 * 2011-03-20
 */
 
body {
	/* background-color: #36317d; */
	background-color: #000000;
	overflow-x: hidden;
	width: 99%;
}

img {
	border: 0px;
}

div.right {
	float: right;
	margin-left: 1%;
}

img.right {
	border: 0px;
	float: right;
	margin-right: 1%;
}

span.right {
	float: right;
	margin-right: 1%;
}

div.no-border, div.border-top, div.border-left, div.border-bottom, div.border-right {
	border: 0px;
}

div.border-top {
	border-top: 1px solid #000000;
}

div.border-right {
	border-right: 1px solid #000000;
}

div.border-bottom {
	border-bottom: 1px solid #000000;
}

div.border-left {
	border-left: 1px solid #000000;
}

hr.no-hr {
	line-height: 0px;
}

div#wrapper {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	padding: 5px;
	width: 1050px;
}

header {
	height: auto;
	margin: 1% 0% 1% 0%;
	width: 100%;
}

	header nav {
		/* border: 1px solid #000000; */
		margin-left: 5%;
		width: 90%;
	}
	
		header img {
			border: 0px;
			margin-left: 1%;
			width: 98%;
		}
	
		header nav ul {
			list-style-type: none;
		}
		
			header nav ul li {
				background: #000000 url('images/nav-bg.png') repeat-x;
				border: 1px solid #000000;
				cursor: pointer;
				display: inline-block;
				font-family: Helvetica;
				padding: 1% 0% 1% 0%;
				margin-top: -10px;
				text-align: center;
				width: 11%;
			}
			
				header nav ul li:hover {
					background: #000000 url('images/nav-bg-hover.png') repeat-x;
				}
			
				header nav ul li a {
					color: #FFFFFF;
					text-decoration: none;
				}
				
	header div#quote-and-search {
		/* background: #EEEEEE; */
		margin-left: 5%;
		width: 90%;
	}
		
		header div#search {
			float: right;
			margin-top: -6px;
		}
		
	aside {
		float: right;
		margin-right: 2%;
		width: 25%;
	}
	
		aside section h3 {
			font-family: "Arial";
			font-size: 1.1em;
			margin-bottom: 0px;
		}
		
		aside section h4 {
			font-family: "Helvetica";
			font-size: 0.9em;
			margin: 0px;
		}
		
		aside section div {
			border: 1px solid #000000;
			font-family: Arial;
			padding: 3px;
		}
		
		aside section div div span {
			display: block;
			height: 20px;
			width: 100px;
		}
		
			aside section div div span a {
				color: #000000;
			}
			
		aside section ul {
			list-style-type: none;
		}
		
			aside section ul li {
				display: inline;
			}
			
		aside section#search input {
			font-size: 1.5em;
			height: 40px;
			width: 100%;
		}
			
		aside section#profile-box-container {
			/* */
		}
		
			aside section#profile-box-container div#profile-box span {
				width: auto;
			}
			
		aside section#admin-box {
			/* */
		}
			
		aside section#connect-with-us {
			width: 100%;
		}
		
			aside section#connect-with-us div#social-media ul {
				margin-left: -8%;
			}
		
				aside section#connect-with-us div#social-media .social-media-icon {
					height: 38px;
					width: 38px;
				}
				
		aside section#quote-and-search div#quote {
			cursor: pointer;
			font-family: "Georgia", Times New Roman, Sans-Serif;
			font-size: 0.9em;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
			aside section#quote-and-search div#quote span#quote-body:before {
				color: #666666;
				content: "“";
				font-size: 1.1em;
			}
			
			aside section#quote-and-search div#quote span#quote-body:after {
				color: #666666;
				content: "”";
				font-size: 1.1em;
			}
		
		aside section div#labels-and-authors {
			padding-left: 0%;
			width: 100%;
		}
		
			aside section div#labels-and-authors ul {
				list-style-type: square;
			}
			
				aside section div#labels-and-authors ul li {
					display: list-item;
					font-size: 0.8em;
				}
				
					aside section div#labels-and-authors ul li a {
						color: #000000;
					}
				
		aside section div#blogroll {
			padding: 5px;
			padding-left: 0px;
			width: 100%;
		}		
		
			aside section div#blogroll ul {
				list-style-type: none;
				padding-left: 0px;
			}
			
				aside section div#blogroll ul li {
					display: list-item;
					font-size: 0.8em;
					margin-bottom: 20px;
				}
				
					aside section div#blogroll ul li a {
						color: #000000;
					}
				
		aside section div#labels-and-authors {
			/* */
		}
		
			aside section div#labels-and-authors ul {
				list-style-type: none;
				padding-left: 10px;
			}
			
				aside section div#labels-and-authors ul li {
					margin-bottom: 2px;
				}
		
article {
	margin-left: 2%;
	width: 70%;
}

	article div#blog-wrapper {
		/* */
	}

	article section {
		width: 95%;
	}
	
		article section.blog-post {
			border-bottom: 1px solid #000000;
			margin: 5px 5px 5px 5px;
		}
		
			article section.blog-post:last-child {
				border-bottom: 0px;
			}
		
			article section.blog-post h2 {
				font-family: "Helvetica";
				margin-bottom: 0px;
			}
				
				article section.blog-post h2 a {
					color: #000000;
				}
				
			article section.blog-post span.blog-post-author {
				font-family: Arial;
				font-size: 0.8em;
				margin: 0px 0px 5px 1%;
			}
				
				article section.blog-post span.blog-post-author a {
					color: #000000;
				}
				
			article section.blog-post span.blog-post-comments {
				font-family: Arial;
				font-size: 0.8em;
				margin-bottom: 5px;
			}
			
				article section.blog-post span.blog-post-comments a {
					color: #000000;
				}
			
			article section.blog-post p {
				font-family: Arial;
				text-indent: 10px;
				font-size: 12pt;
			}

footer {
	background-color: #36317d;
	display: block;
	height: 50px;
}

	footer div#copyright {
		color: #FFFFFF;
		padding: 15px 0% 0% 5%;
		width: 50%;
	}

	footer div#footer-links {
		padding: 15px 0% 0% 5%;
	}
	
		footer div#footer-links ul {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}
		
			footer div#footer-links ul li {
				display: inline;
			}
				
				footer div#footer-links ul li:after {
					content: " | ";
				}
				
				footer div#footer-links ul li:last-child:after {
					content: "";
				}
			
				footer div#footer-links ul li a {
					color: #EEEEEE;
				}
